<%= form_for @product do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %><br />
  <%= form.label :description %>
  <%= form.text_area :description %><br />
  <%= form.label :price %>
  $<%= form.text_field :price %><br />
  <%= form.file_field :image %>

  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
