<% if product.image.attached? %>
  <td><%= image_tag product.image %></td>
<% else %>
  <td><%= image_tag "no_photo.png" %>
<% end %>
<td><%= product.title %></td>
<td><%= product.description %></td>
<td><%= product.display_price %></td>
