<!DOCTYPE html>
<html>
  <head>
    <script src="https://js.stripe.com/v3/"></script>
    <title>StripeMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <br>
  <% if current_user %>
    <%= link_to('Sign Out', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Sign In with Stripe', user_stripe_connect_omniauth_authorize_path) %>
  <% end %>
</html>
